<%- model_class = User -%>

<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<div class="page-header">
  <h4> Total Records: <%= @users.count %></h4>
</div>    

<div style="float:right;">
	<%= link_to 'Search', user_search_box_path(true, model_class, @search_fields.join(',')), :remote => true, :class => 'btn btn-primary' %>&nbsp;
</div>	

<div id="div_update_search"></div>

<div id="div_update">
	<%= render "fetchAll" %>
</div>
